.ordersContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ordersContainer>div {
    width: 90%;
    height: 100%;
    margin: 4% 1% 1%;
    padding-bottom: 1%;
    background-color: rgba(211, 224, 158, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderStatusList {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    padding: 2%;
}

.orderStatusItem {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
    overflow: scroll;
    justify-self: center;
    border-radius: 10px;
}

.orderStatusItem p {
    font-size: 25px;
    margin: 0;
}

.ordersPending .orderStatusItem {
    background-color: rgba(223, 26, 26, 0.801);
}

.ordersDoing .orderStatusItem {
    background-color: #D7C332;
}

.ordersDoing .orderStatusItem p {
    color: maroon;
}

.ordersDone .orderStatusItem {
    background-color: #146152;
}

details {
    font-size: 22px;
    font-weight: bolder;
    color:  white;
}

details:hover {
    color:darkblue;
}

.btnState {
    height: 45px;
    width: 170px;
    font-size: 25px;
}

@media (max-device-width: 1280px) and (orientation: landscape) {
    .ordersContainer {
        height: 75%;
    }

    .ordersContainer>div {
        width: 30%;        
        margin-top: 4%;        
    }

    .orderStatusItem {
        width: 100%;
    }
}

@media only screen and (min-width : 1224px) {
    .ordersContainer {
        height: 75%;
        flex-direction: row;
    }
    .btnState{
        height:40px;
        width:150px;
        font-size: 20px;
    }

    .ordersContainer>div {
        width: 30%;
        height: 100%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
    }

    .orderStatusList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: scroll;
        padding: 2%;
    } 
    .orderStatusList::-webkit-scrollbar {
        width: 10px;
    }         
    .orderStatusList::-webkit-scrollbar-thumb {
        background-color: #4e4c4c;
        border-radius: 20px;
    }    
    .orderStatusList::-webkit-scrollbar-track {
        border-radius: 10px;  
    }
    .orderStatusItem {
        width: 100%;
        overflow: hidden;
    }
    .orderStatusItem p {
        font-size: 20px;
        margin: 0;
    }
}