.header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 3px solid #D7C332;
}
.headerLogo {
    width: 150px;
}
.iconExit{
    color: white;
    font-size: 40px;
}
.headerLetters {
    width: 350px;
    height: 100px;
}
.headerButton {
    width: 150px;
}
.headerUser{
    margin:0px;
    font-size:25px;
    font-weight:bold;
}
div#root {
    width: 100%;
    height: 100%;
}
#waiterViewContainer{  
    height: 100%;  
    display: flex;
    flex-direction: column;        
}
#elementsWaiterView{
    height: 100%;
    display: flex; 
    justify-content: space-around;
}
.orderContainer {
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.buttonWaiterOptions{
    height: 60px;
    width: 50%;
    background-color:#D7C332;
    color: black;
}
#waiterMenuOptions{
    display: flex; 
    justify-content: space-evenly;
}
.buttonWaiterMenu{
    height: 80px;
    width: 20%;
    background-color:#FF5A33
}
.menuList{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: aliceblue;
    grid-gap: 10px;
    grid-auto-rows: 18%;
    padding: 10px;
}
#orderItems{
    background-color:rgba(211,224,158,0.2);
    border-radius:10px;
    margin-top: 10px;
    width: 95%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#orderTotal {
    position: -webkit-sticky;
    position: sticky;
    margin: 0px;
}
h4{
    font-size: 25px;
    color: white;
}
.inputClient{
    width: 250px;
    height: 45px;
    font-size: 24px;
    padding-left: 5px;
}
.menuItem{
    background-color:#146152;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.cartList {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}
.cartList-item {
    display: grid;
    gap: 20px;
    grid-template-columns: 6fr 3fr 1fr 1fr;
    width: 98%;
    align-items: center;
    justify-content: center;
}
.cartList-item p {
    font-size: 20px;
    padding-left: 10px;
}
.itemQuantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.fa {
    font-size: 20px;
    margin-top: 25px;
}
.fa-plus{
    color: green;
}
.fa-trash, .fa-minus{
    color: red;
}
.clientNameInput{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}
.tableSelect {
    width: 100%;
    height: 80%;
    font-size: 20px;
}
@media (max-device-width: 1280px) and (orientation: landscape) {
    .header {
        height: 100px;
        align-items: center;
    }
    .headerLogo {
        width: 120px;
    }
    .headerLetters {
        width: 320px;
        height: 75px;
    }
    #orderItems{
        height: 500px;
        width: 98%;
    }
    .buttonWaiterMenu{
        height: 60px;
    }
    .tableSelect {
        width: 180%;
    }
}
@media only screen and (min-width : 1224px){
    .header {
        height: 80px;
        align-items: center;
    }
    .headerLogo {
        width: 100px;
    }
    .headerLetters {
        width: 260px;
        height: 55px;
    }
    .buttonWaiterOptions{
        height: 40px;
        margin: 0px;
    }
    .buttonWaiterMenu{
        margin-top: 20px;
        height: 50px;
        width: 20%;
    }
    .menuList{
        grid-template-columns: repeat(4, 1fr);        
        grid-auto-rows: 20%;
    }
    #orderItems{
        height: 350px;
        width: 90%;
    }
    .inputClient{
        height: 30px;
        font-size: 18px;
    }
    h4{
        font-size: 18px;
    }
    .menuItem{
        font-size: 15px;
    }
    .cartList::-webkit-scrollbar {
        display: none;
      }

      #orderTotal {
        font-size: 25px;
    }
    
}