* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root {
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  width: 30%;
}

.loginInputs, .workerType {
  margin: 5px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

p {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
}

button {
  background-color: #FF5A33;
  color: #FFFFFF;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #91EFA6;
  color: black;
}

@media (max-device-width: 1280px) and (orientation: landscape) {
  .App-logo {
    width: 45%;
  }

  .loginInputs, .workerType {
    margin: 5px;
    height: 50px;
    width: 350px;
    font-size: 20px;
  }

  p {
    margin-top: 25px;
    font-size: 25px;
  }

  button {
    height: 50px;
    width: 200px;
    font-size: 25px;
  }
}


@media (max-device-width: 821px) and (orientation: portrait) {

  #root,
  .App {
    width: 100%;
    height: 100%;
  }

  .App-logo {
    width: 80%;
  }

  .loginInputs, .workerType {
    height: 60px;
    width: 450px;
    font-size: 25px;
  }

  p {
    margin-top: 25px;
    font-size: 35px;
  }

  button {
    height: 60px;
    width: 200px;
    font-size: 30px;
  }
}